@import "@/assets/scss/mixin";

.play-bar {
  width: 100%;
  background: var(--color-primary);
  height: var(--play-bar-height);
  position: fixed;
  bottom: 0;
  left: 0;

  @include flex-center();
}

.play-bar__wr {
  width: 1248px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-bar__record-player {
  display: flex;
  gap: 16px;
}

.play-bar__play-button {
  width: 48px;
  height: 48px;
  border-radius: var(--rounding-circle);
  border: none;
  background: white;

  @include flex-center();

  & img {
    width: 32px;
    height: 32px;
  }

  &:hover {
    transition: all 0.2s ease-in-out;
    background: var(--color-purple);
  }
}